.field {
  position: relative;
  width: 100%;
}

.field__input {
  display: block;
  height: 38px;
  width: 100%;
  font-size: 16px;
  font-family: var(--font-second);
  font-weight: 500;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  padding: 10px 16px;
}

.field__input_search {
  width: 580px;
}

.field__input::placeholder {
  color: #c3c1e5;
  font-size: 16px;
}

.field__input:focus {
  outline: 3px solid #6c63ff66;
}

.field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  right: 16px;
}
