.header {
  padding-top: 40px;
  max-width: 750px;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 750px;
  justify-content: space-between;
  gap: 16px;
}
