.header {
  padding-top: 40px;
  max-width: 750px;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 26px;
  color: var(--main-color);
  text-transform: uppercase;
}
