.header {
  padding-top: 40px;
  width: 100%;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search {
  display: flex;
  align-items: center;
  max-width: 750px;
  width: 100%;
  gap: 16px;
}

@media (max-width: 780px) {
  .search {
    flex-direction: column;
  }
}

.search__controls {
  display: flex;
  gap: 16px;
  width: 100%;
}
