.list {
  display: flex;
  flex-direction: column;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 10px;
}

.empty__text {
  font-size: 20px;
  font-weight: 500;
}