.modal__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

    z-index: 100;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 18px 30px;
  max-width: 500px;
  width: 100%;
  height: 289px;
  background-color: var(--light-color);
  border-radius: 16px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 20px;
}

.modal__input {
  width: 100%;
}

.modal__buttons {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 100%;
}
