.note {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 17px;
  width: 520px;
  height: 60px;
  border-bottom: 1px solid var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;

  &:last-child {
    border-bottom: none;
  }

  &:hover .note__options {
    opacity: 1;
  }

  &.is-dissapearing {
    opacity: 0;
    translate: 0 -75%;
    transition-duration: 0.4s;
    pointer-events: none;

    & ~ .note {
      translate: 0 calc(100% * -1);
      transition-delay: 0.2s;
      transition-duration: 0.2s;
      pointer-events: none;
    }
  }
}

.note__text {
  font-family: var(--font-main);
  font-weight: 600;
  transition: all 0.2s;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox__custom {
  position: relative;
  width: 26px;
  height: 26px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  background: transparent;
  display: grid;
  place-items: center;
  transition: all 0.2s ease;
}

.checkbox__custom::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 20%;
  width: 14px;
  height: 7px;
  border-bottom: 2px solid var(--light-color);
  border-left: 2px solid var(--light-color);
  transform: rotate(0) scale(0);
  transition: transform 0.15s ease;
}

.checkbox__input:checked + .checkbox__custom {
  background-color: var(--primary-color);
}

.checkbox__input:checked + .checkbox__custom::after {
  transform: rotate(-45deg) scale(1);
}

.checkbox__input:checked ~ .task__text {
  text-decoration: line-through;
  opacity: 0.5;
}

.note__input {
  display: none;
}

.note__options {
  display: flex;
  gap: 7px;
  margin-left: auto;
  opacity: 0;
}

.option-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
