@import 'normalize.css';
@import 'variables.css';
@import 'global.css';

@import 'components/search.css';
@import 'components/header.css';
@import 'components/button.css';
@import 'components/tasks-list.css';
@import 'components/dropdown.css';